@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: auto;
  background-color: antiquewhite;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
#logo-text h1{
  position: absolute;
  display: flex;
  color: #eee;
  font-weight: 400;
  left: 3%;
  top: 50%;
  transform: translate(-3%, -50%);
  z-index: 2;
}
nav {
  height: 10vh;
  background-image: linear-gradient(to bottom right, #ffafbd, #ffc3a0);
  position: relative;
}

.nav-links {
  display: flex;
  list-style: none;
  height: 100%;
  margin-left: auto;
}


.line {
  width: 30px;
  height: 3px;
  background: #eee;
  margin: 5px;
 }
.hamburger {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 50%;
  transform: translate(-5%, -50%);
  z-index: 2;
}
.topspacing {
  margin-right: calc(5% + 40px);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  position: flex;
  width: 60%;
  height: 100%;
  clip-path: circle(0px at calc(95% + 20px) 5vh);
  -webkit-clip-path: circle(0px at calc(95% - 20px) 5vh);
  transition: all 0.8s ease-out;
  pointer-events: none;
}
.nav-links.open {
  clip-path: circle(1500px at calc(95% + 20px) 5vh);
  -webkit-clip-path: circle(1500px at calc(95% - 20px) 5vh);
  pointer-events: all;
}
.nav-links li {
  opacity: 1;
}
.nav-links li a {
  color: #333;
  font-size: 22px;
  border-bottom: #eee 2px solid;
}
#space {
  height: 50px;
}
#inner {
  font-size: 1.2rem;
  text-align: center;
  max-width: 750px;
  margin: auto;
  flex: auto;
}
p {
  padding-top: 1rem;
}
#link {
  color: #333;
}